.ButtonsSection{
    width: 80%;
    height: 80%;
    border: 0px solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
   margin-bottom: 5px;
   background-color: #333;
   color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .Section{
    margin: auto;
    width: 30%;
    border: 0px solid;
   }