 
.ButtonSubmit {
  padding: 16px 32px;
  border-radius: 2px;
  text-transform:capitalize;
  font-size:24px;
  font-family: 'LabGrotesque-Bold';
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: #bc4e46 0.2s ease-in-out;
  background-color: #bc4e46;;
}

button:hover {
  background: #ccb8b6;
}

button:active {
  background: #962720;
}

 .VeryBigButton{
  margin-top: 30px;
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   font-size:24px;
   text-transform:capitalize;
   color: #fff;
   background-color:darkorange;
 }

 .BigButton{
  margin-top: 30px;
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   font-size:24px;
   text-transform:capitalize;
   color: #fff;
   background-color:darkorange;
 }